.login-body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.container-card form {
    background: rgba(213, 215, 222, 0.9);
}

.register-form {
    margin-top: 160px;
    margin-bottom: 24px;
}

label {
    color: var(--secondary-text);
    font-weight: 400;
    margin-bottom: 4px;
}