.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    padding: 0 64px;
    background-image: linear-gradient(to bottom left, var(--primary-light-color), var(--primary-color));
}

.logo::after {
    content: " ";
    background-color: var(--primary-color);
}

.search-bar{
    padding-left: 15vw;
}

.search-bar__input {
    width: 30vw;
}

.search-bar__input {
    position: relative;
}

.search-bar__input input {
    outline: none;
    border-left: none;
    height: auto;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}



.search-bar__control--submit {
    border-right: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.register-btn__control:hover {
    color: white;
}

.login-btn__control {
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: none;
    opacity: 1;
}

.login-btn__control:hover {
    opacity: .95;
}


/* cart */

.user-utilities__item {
    position: relative;
    max-width: 48px;
    max-height: 48px;
    cursor: pointer;
}

.user-utilities__item:hover .user-utilities__item-extra {
    display: block;
}

.user-utilities__item-extra {
    position: absolute;
    top: calc(100% + 8px);
    right: -8px;
    display: none;
    background-color: white;
    box-shadow: 2px 4px 8px #999999;
    cursor: pointer;
    animation: showNavDetails ease-in .2s;
    transform-origin: right top;
}

.user-utilities__cart--preview {
    /* display: none; */
    width: 25vw;
}

.user-utilities__account--info {
    width: 15vw;
}

.user-utilities__item-extra::after {
    content: '';
    position: absolute;
    top: -16px;
    right: -4px;
    width: 84px;
    height: 20px;
}

.user-utilities__item-extra::before {
    content: "";
    position: absolute;
    top: -29px;
    right: 10px;
    display: block;
    border-width: 20px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    cursor: pointer;
}

.user-utilities__cart--preview-title {
    font-weight: 400;
    font-size: 150%;
}

.user-utilities__cart--preview-item {
    border-bottom: .5px solid #aaa;
}

.user-utilities__account--info-item>a {
    text-align: start;
    width: 100%;
    transition: transform .2s;
}

.user-utilities__account--info-item>a:hover {
    opacity: .96;
    transform: scale(1.2);
}

.user-utilities__cart--preview-submit {
    outline: none;
}


/* account */

.user-utilities__account {
    background-color: white;
    border-radius: 24px;
    margin-left: 48px;
}

.user-utilities__account--photo {
    max-height: 48px;
    max-width: 48px;
}


/* logo */
.logo {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 1;
}

.logo svg,
.logo div {
    width: 60px;
    height: 60px;
    position: absolute;
}

.logo svg {
    fill: #fff;
}

.logo div {
    width: 48px;
    height: 48px;
    margin: 6px;
    border-radius: 20%;
    transform: rotate(45deg);
    mix-blend-mode: multiply;
    animation: 2s cubic-bezier(0.66, -0.7, 0.27, 1.6) infinite;
}

.logo div:nth-child(1) {
    background-color: #29ffff;
    animation-name: rotate-1;
}

.logo div:nth-child(2) {
    background-color: #ff65ff;
    animation-name: rotate-2;
}

.logo div:nth-child(3) {
    background-color: #ffc;
    animation-name: rotate-3;
}
@-moz-keyframes rotate-1 {
to {
    transform: rotate(135deg);
}
}
@-webkit-keyframes rotate-1 {
to {
    transform: rotate(135deg);
}
}
@-o-keyframes rotate-1 {
to {
    transform: rotate(135deg);
}
}
@keyframes rotate-1 {
to {
    transform: rotate(135deg);
}
}
@-moz-keyframes rotate-2 {
to {
    transform: rotate(225deg);
}
}
@-webkit-keyframes rotate-2 {
to {
    transform: rotate(225deg);
}
}
@-o-keyframes rotate-2 {
to {
    transform: rotate(225deg);
}
}
@keyframes rotate-2 {
to {
    transform: rotate(225deg);
}
}
@-moz-keyframes rotate-3 {
to {
    transform: rotate(315deg);
}
}
@-webkit-keyframes rotate-3 {
to {
    transform: rotate(315deg);
}
}
@-o-keyframes rotate-3 {
to {
    transform: rotate(315deg);
}
}
@keyframes rotate-3 {
to {
    transform: rotate(315deg);
}
}

#combo-box-demo{
    background-color: aliceblue;
}

.search-bar{
    background-color: aliceblue;
    padding-left: 0;
    transform: translate(50%);
}
